default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  user: root
  password:

development:
  <<: *default
  database: movies_location_development

test:
  <<: *default
  database: movies_location_test
